.gif-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  height: 36rem;
  margin: 1rem;
}

.gif-item__picture {
  position: relative;
  width: 100%;
  height: 30rem;
}

.gif-item__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
}

.gif-item__information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  position: relative;
  height: 30rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--black-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  opacity: 0;
  transition: opacity 1s;
}

.gif-item__information:hover {
  opacity: 1;
  transition: opacity 1s;
}

.gif-item__author {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  position: relative;
  height: 6rem;
  width: 100%;
}

.gif-item__avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  object-fit: cover;
  position: relative;
  opacity: 1;
}

.gif-item__username {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-size: 2rem;
  color: var(--white-color);
  position: relative;
  margin-left: 1rem;
}

.gif-item__description {
  font-size: 1.5rem;
  color: var(--white-color);
}

.gif-item__link {
  position: relative;
  z-index: 600;
  font-size: 1.5rem;
  color: var(--white-color);
}

.gif-item__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}

.gif-item__title {
  font-size: 2rem;
  overflow: hidden;
  width: 90%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--primary-color);
  cursor: pointer;
  transition: font-size 1s;
}

.gif-item__title:hover {
  font-size: 2.2rem;
  transition: font-size 1s;
}

@media only screen and (min-width: 768px) {
  .gif-item {
    width: 36rem;
    height: 36rem;
  }
}
