.option-btn {
  padding: 0.625rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 1s;
  margin: 0.625rem;
}

.option-btn:hover {
  background-color: var(--color-secondary-hover);
  transition: background-color 1s;
}

.option-btn:active {
  transform: scale(0.9);
}
