/* Header */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  background-color: var(--secondary-color);
  position: relative;
}

.header-wrapper__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 6rem;
  padding: 1rem;
}

.header-wrapper__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 6rem;
  width: calc(100%-1rem);
  list-style: none;
}

.header-wrapper__link {
  text-decoration: none;
}

.header-wrapper__link-icon {
  font-size: 2rem;
  color: var(--white-color);
  transition: color 1s;
}

.header-wrapper__link-icon:hover {
  color: var(--primary-color);
  transition: color 1s;
}

@media only screen and (min-width: 768px) {
  .header-wrapper__link-icon {
    font-size: 2.5rem;
  }
}
