/* Main */

.main-app {
  position: relative;
  width: 100%;
  height: 100%;
}

.gifs-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
}

.gifs-page__title {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: var(--secondary-color);
  margin: 1rem;
}

.gifs-page__options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: calc(100%-1rem);
  margin: 1rem;
  height: auto;
}

.gif-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(var(--black-int-color), 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;
}

.gif-modal__content {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.gif-modal__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gif-modal__btn-close {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: var(--secondary-color);
  background: none;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 360px) {
  .gif-modal__content {
    width: 35rem;
    height: 35rem;
  }
}

@media only screen and (min-width: 768px) {
  .gifs-page__title {
    font-size: 7rem;
  }

  .gif-modal__content {
    width: 60rem;
    height: 60rem;
  }
}
